*.pyc 
__pycache__/*
task1_2/monkbrill/*
task1_2/monkbrill2/*
task1_2/IAM-data/*
task1_2/test_images/*
task1_2/image-data/*
task1_2/Data/*
task1_2/Modern_Hebrew/*
task1_2/results/*
task1_2/debug/*
task3/test_imgs/*
debug/*
.ipynb_checkpoints
encoder
decoder
checkpoint*
IAM-data.*
IAM-data
