*.pyc 

task12/monkbrill/*
task12/monkbrill2/*
task12/IAM-data/*
task12/image-data/*
task12/Data/*
task12/Modern_Hebrew/*
task12/results/*
task12/debug/*
debug/*
.ipynb_checkpoints
encoder
decoder
checkpoint*
IAM-data.*
IAM-data
